<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Common" value="https://alchemysystems.pkgs.visualstudio.com/_packaging/Common/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
	<add key="All" value="(Aggregate source)" />
  </activePackageSource>
    <packageSourceCredentials>
    <Common>
      <add key="Username" value="alchemydesktop@gmail.com" />
      <add key="ClearTextPassword" value="ba5iez5jnpmcz2p4b25awde3lfdqcugndlhrirnhcy6pvoosboza" />
    </Common>
  </packageSourceCredentials>
</configuration>